import React from 'react';

interface {{pascalCase name}}Props {
  // Define props here
}

const {{pascalCase name}}: React.FC<{{pascalCase name}}Props> = () => (
  <div>{{pascalCase name}} component</div>
);

export default {{pascalCase name}};
